---

const {title,
description,
cta,
heroImg,
serviceImg,
service1_title,
service1_description,
service2_title,
service2_description} = Astro.props


---


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2274">
    <div class="cs-container">
        <div class="cs-content ">
            <h1 class="cs-title roboto">{title}</h1>
            <p class="cs-text roboto">
                {description}
            </p>

            <a href="/shop" class="cs-button-solid roboto">
                {cta}
                <img class="cs-button-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-arrow-up.svg" decoding="async" alt="arrow" width="20" height="20" aria-hidden="true">
            </a>
        </div>
    </div>
    <!-- phone images -->
    <div class="cs-image-group">
        <!--Left Image-->
        <picture class="cs-background cs-background1">
            <source media="(max-width: 600px)" srcset={heroImg.src}>
            <source media="(min-width: 601px)" srcset={heroImg.src}>
            <img aria-hidden="true" decoding="async" src={heroImg.src} alt="phone hero background" width="1290" height="684">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="Hservices-2274">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/shipping-policy" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction1.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">{service1_title}</h3>
                    <p class="cs-item-text">
                        {service1_description}
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/returns-policy" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction1.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">{service2_title}</h3>
                    <p class="cs-item-text">
                        {service2_description}
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="#" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction4.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <span class="cs-number">500+</span>
                    <h3 class="cs-h3">Satisfied Customers</h3>
      
                    <span class="cs-fake-link">
                        See Our Reviews
                        <img class="cs-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-arrow-up.svg" decoding="async" alt="arrow" width="20" height="20" aria-hidden="true">
                    </span>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset={serviceImg.src}>
                        <source media="(min-width: 601px)" srcset={serviceImg.src}>
                        <img aria-hidden="true" decoding="async" src={serviceImg.src} alt="happy customer" width="630" height="684">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
                                
                                

<style lang="less" scoped>

    /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-2274 {
        /* 150px - 350px Top */
        padding: clamp(9rem, 30.95vw, 14.875rem) (16/16rem) clamp(2rem, 10vw, 4rem);

        overflow: hidden;
        position: relative;
        z-index: 10;
        margin-bottom: 2em;
        max-height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;


        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: (88/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.2em;
            width: 100%;
            max-width: 17ch;
            margin: 0 0 (16/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            line-height: 1.5em;
            width: 100%;
            max-width: (700/16rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
            color: var(--bodyTextColorWhite);
            opacity: .8;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (28/16rem);
            background-color: var(--secondaryLight);
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: (12/16rem);
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: -1;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-background1 {
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .72;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-2274 {



    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #Hservices-2274 {
        width: 100%;
        padding: var(--sectionPadding);
        position: relative;
        z-index: 20;


        .cs-container {
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            z-index: 1;
        }

        .cs-card-group {
            width: 100%;
            max-width: (1280/16rem);
            margin: 0;
            padding: 0;
            background-color: #fff;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (32/16rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition:
                background-color 0.3s,
                border-color 0.3s;

            &:last-of-type {
                .cs-link {
                    /* 32px - 80px top & bottom */
                    /* 16px - 80px left & right */
                    padding: clamp(2rem, 7vw, 5rem) clamp(1rem, 4vw, 5rem);
                    box-sizing: border-box;
                }

                .cs-icon {
                    width: (64/16rem);
                    margin-bottom: (24/16rem);
                }

                .cs-h3 {
                    font-size: (25/16rem);
                }

                .cs-item-text {
                    margin-bottom: (32/16rem);
                }
            }
        }

        .cs-number {
            font-size: (72/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-fake-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            padding: 0 0 (4/16rem) 0;
            border-bottom: 1px solid var(--primary);
            color: var(--primary);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #fff;
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            img {
                width: 100%;
                height: 100%;
                opacity: .08;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            width: (40/16rem);
            height: auto;
            margin: 0 0 (20/16rem) 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            text-align: inherit;
            line-height: 1.2em;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition:
                color 0.3s,
                opacity 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #Hservices-2274 {
        padding: 2em ;
        padding-bottom: 4em;
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #Hservices-2274 {
        padding: 0;

        .cs-card-group {
            width: (860/16rem);
            padding: (60/16rem) 0;
            column-gap: (20/16rem);
            margin-top: -8rem;
        }

        .cs-item {
            grid-column: span 4;
            padding: 2rem;
            border: 1px solid #E8E8E8;
            border-radius: 0.5rem;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #Hservices-2274 {
            .cs-card-group {
                background-color: var(--dark);
            }

            .cs-item {
                border-color: var(--accent);
            }

            .cs-background {
                background-color: var(--dark);
                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .5);
                    opacity: 1;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .cs-h3, .cs-item-text, .cs-number {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;
            }
        }
    }
}
                                
</style>