---
import {address} from "@data/client.json"
import heroImage from "@assets/images/hero.webp"

// laptops
const title = "Mobilité et Performance, Réunies"; // "Mobility and Performance, Combined"
const Description = "Derniers Modèles, Performances Exceptionnelles, Design Épuré"; //"Latest Models, Exceptional Performance, Sleek Design"

const cta = "Visitez-nous!"
const service1_title = "Optimisation Système"
const service2_title = "Consultation Info"
const service3_title = "Vente Matériel"
const service4_title = "Réparation PC"

const service1_description = "Accélérez votre machine pour une meilleure productivité."
const service2_description = "Conseils experts pour vos projets informatiques."
const service3_description = " Ordinateurs, composants, et accessoires performants."
const service4_description = "Diagnostics rapides et réparations efficaces."

const {mapLink} = address
---


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2274">
    <div class="cs-container">
        <div class="cs-content ">
            <h1 class="cs-title roboto">{title}</h1>
            <p class="cs-text roboto">
                {Description}
            </p>
            <a href="" class="cs-button-solid roboto">
                {cta}
                <img class="cs-button-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-arrow-up.svg" decoding="async" alt="arrow" width="20" height="20" aria-hidden="true">
            </a>
        </div>
        <!--To make your own background crops of people use https://www.remove.bg/-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-man2.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-man2.png">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-man2.png" alt="construction worker" width="581" height="662">
            <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg"> -->
            <!-- <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg"> -->
            <!-- <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg" alt="construction site" width="630" height="684"> -->
        </picture>
    </div>
    <div class="cs-image-group">
        <!--Left Image-->
        <picture class="cs-background cs-background1">
            <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1603302576837-37561b2e2302?q=80&w=1468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1603302576837-37561b2e2302?q=80&w=1468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img aria-hidden="true" decoding="async" src="https://images.unsplash.com/photo-1603302576837-37561b2e2302?q=80&w=1468&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="construction site" width="1290" height="684">
        </picture>
        <!--Right Image-->
        <picture class="cs-background cs-background2">
            <source media="(max-width: 600px)" srcset="https://m.media-amazon.com/images/I/71e7B5MKBIL._AC_UF894,1000_QL80_.jpg">
            <source media="(min-width: 601px)" srcset="https://m.media-amazon.com/images/I/71e7B5MKBIL._AC_UF894,1000_QL80_.jpg">
            <img aria-hidden="true" decoding="async" src="https://m.media-amazon.com/images/I/71e7B5MKBIL._AC_UF894,1000_QL80_.jpg" alt="construction site" width="630" height="684">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="Hservices-2274">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction1.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Qualité Supérieure Garantie </h3>
                    <p class="cs-item-text">
                        Nous sélectionnons rigoureusement les meilleurs ordinateurs portables pour une performance et une fiabilité inégalées.
                    </p>
                </a>
            </li>

            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" 
                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KCTxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2VhMzUyZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuMiIgY29sb3I9IiNlYTM1MmUiPgoJCTxjaXJjbGUgY3g9IjE3IiBjeT0iMTgiIHI9IjIiIC8+CgkJPGNpcmNsZSBjeD0iNyIgY3k9IjE4IiByPSIyIiAvPgoJCTxwYXRoIGQ9Ik01IDE3Ljk3MmMtMS4wOTctLjA1NC0xLjc4LS4yMTctMi4yNjgtLjcwNHMtLjY1LTEuMTcxLS43MDQtMi4yNjhNOSAxOGg2bTQtLjAyOGMxLjA5Ny0uMDU0IDEuNzgtLjIxNyAyLjI2OC0uNzA0QzIyIDE2LjUzNSAyMiAxNS4zNTcgMjIgMTN2LTJoLTQuN2MtLjc0NSAwLTEuMTE3IDAtMS40MTgtLjA5OGEyIDIgMCAwIDEtMS4yODQtMS4yODRDMTQuNSA5LjMxNyAxNC41IDguOTQ1IDE0LjUgOC4yYzAtMS4xMTcgMC0xLjY3NS0uMTQ3LTIuMTI3YTMgMyAwIDAgMC0xLjkyNi0xLjkyNkMxMS45NzUgNCAxMS40MTcgNCAxMC4zIDRIMm0wIDRoNm0tNiAzaDQiIC8+CgkJPHBhdGggZD0iTTE0LjUgNmgxLjgyMWMxLjQ1NiAwIDIuMTgzIDAgMi43NzUuMzU0Yy41OTMuMzUzLjkzOC45OTQgMS42MjggMi4yNzZMMjIgMTEiIC8+Cgk8L2c+Cjwvc3ZnPg==" 
                    decoding="async" alt="icon" width="60" height="60" aria-hidden="true">
                    <h3 class="cs-h3">Livraison Rapide et Fiable </h3>
                    <p class="cs-item-text">
                        Recevez votre nouveau portable rapidement et en toute sécurité, partout en Algerie.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction4.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <span class="cs-number">100+</span>
                    <h3 class="cs-h3">Clients Satisfaits</h3>
      
                    <span class="cs-fake-link">
                        Collaborons Ensemble
                        <img class="cs-arrow" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-arrow-up.svg" decoding="async" alt="arrow" width="20" height="20" aria-hidden="true">
                    </span>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1548393488-ae8f117cbc1c?q=80&w=1315&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1548393488-ae8f117cbc1c?q=80&w=1315&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                        <img aria-hidden="true" decoding="async" src="https://images.unsplash.com/photo-1548393488-ae8f117cbc1c?q=80&w=1315&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="construction site" width="630" height="684">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
                                
                                

<style lang="less">
    /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-2274 {
        /* 150px - 350px Top */
        padding: clamp(9rem, 30.95vw, 21.875rem) (16/16rem) 0;
        overflow: hidden;
        position: relative;
        z-index: 10;
        margin-bottom: 2em;
        max-height: 90vh;


        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: (88/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.2em;
            width: 100%;
            max-width: 17ch;
            margin: 0 0 (16/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            line-height: 1.5em;
            width: 100%;
            max-width: (700/16rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
            color: var(--bodyTextColorWhite);
            opacity: .8;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (28/16rem);
            background-color: var(--secondaryLight);
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: (12/16rem);
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* 427px - 581px */
            max-width: clamp(26.6875rem, 50vw, 36.3125rem);
            height: auto;
            display: flex;
            align-items: flex-end;
            position: relative;
            z-index: 7;
            transform: scale(0);

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-image-group {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-background1 {
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .72;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-background2 {
            display: none;
            height: 100vw;
            max-height: (480/16rem);
            flex: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-2274 {
        padding-bottom: (150/16rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: (90/16rem);
        max-height: none;


        .cs-container {
            justify-content: flex-start;
            flex-direction: row;
        }

        .cs-content {
            text-align: left;
            width: 53%;
            align-items: flex-start;
        }

        .cs-picture {
            width: 56%;
            position: absolute;
            bottom: (-65/16rem);
            right: (-30/16rem);
        }

        .cs-image-group {
            flex-direction: row;
        }

        .cs-background2 {
            display: block;
            width: 25vw;
            height: 100%;
            max-height: 100%;
            border-left: 2px solid var(--secondaryLight);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-2274 {
        /* 100px - 172px */
        padding-bottom: clamp(6.25rem, 12vw, 10.9375rem);

        .cs-picture {
            width: 45%;
            /* same value as the padding, but opposite */
            bottom: calc(clamp(6.25rem, 12vw, 10.9375rem)*-1);
            /* 32px - 80px */
            right: clamp(2rem, 5vw, 5rem);
        }

        .cs-background2 {
            width: 32.8125vw;
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #Hservices-2274 {
        width: 100%;
        padding: var(--sectionPadding);
        position: relative;
        z-index: 20;


        .cs-container {
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            z-index: 1;
        }

        .cs-card-group {
            width: 100%;
            max-width: (1280/16rem);
            margin: 0;
            padding: 0;
            background-color: #fff;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (32/16rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition:
                background-color 0.3s,
                border-color 0.3s;

            &:last-of-type {
                .cs-link {
                    /* 32px - 80px top & bottom */
                    /* 16px - 80px left & right */
                    padding: clamp(2rem, 7vw, 5rem) clamp(1rem, 4vw, 5rem);
                    box-sizing: border-box;
                }

                .cs-icon {
                    width: (64/16rem);
                    margin-bottom: (24/16rem);
                }

                .cs-h3 {
                    font-size: (25/16rem);
                }

                .cs-item-text {
                    margin-bottom: (32/16rem);
                }
            }
        }

        .cs-number {
            font-size: (72/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-fake-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            padding: 0 0 (4/16rem) 0;
            border-bottom: 1px solid var(--primary);
            color: var(--primary);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #fff;
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            img {
                width: 100%;
                height: 100%;
                opacity: .08;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            width: (40/16rem);
            height: auto;
            margin: 0 0 (20/16rem) 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            text-align: inherit;
            line-height: 1.2em;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition:
                color 0.3s,
                opacity 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #Hservices-2274 {
        padding: 2em ;
        padding-bottom: 4em;

        .cs-card-group {
            width: 44%;
        }

        .cs-item {
            &:last-of-type {
                width: 49%;
                position: absolute;
                right: 0;
                top: calc(clamp(10rem, 20vw, 12.5rem)*-1);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #Hservices-2274 {
        .cs-item {
            &:last-of-type {
                width: 37vw;
                max-width: (400/16rem);
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #Hservices-2274 {
        padding: 0;

        .cs-card-group {
            width: (860/16rem);
            padding: (60/16rem) 0;
            column-gap: (20/16rem);
        }

        .cs-item {
            grid-column: span 4;

            &:last-of-type {
                top: auto;
                bottom: 0;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #Hservices-2274 {
            .cs-card-group {
                background-color: var(--dark);
            }

            .cs-background {
                background-color: var(--dark);
                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .5);
                    opacity: 1;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .cs-h3, .cs-item-text, .cs-number {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;
            }
        }
    }
}
                                
</style>
