---
// ProductCard.astro
interface Props {
  id: string;
  name: string;
  description: string;
  price: number;
  imageUrl: string; // Add an imageUrl property
  offer?: {
    type: string;
    value?: number;
    item?: string;
    items?: string[];
    description?: string;
  };
}

const { id, name, description, price, imageUrl, offer } = Astro.props;

// Function to format the price
const formattedPrice = `$${price.toFixed(2)}`;
---

<div class="product-card">
  <img src={imageUrl} alt={name} class="product-image" />

  <h3 class="product-name">{name}</h3>

  <p class="product-description">{description}</p>

  <div class="product-price-and-button">
    <span class="product-price">{formattedPrice}</span>
    <button class="golden-buy-button">Golden Buy</button>
  </div>
</div>

<style lang="less">
  @shadow-color: rgba(0, 0, 0, 0.2);
  @border-radius: 0.5rem;
  @golden-color: #ffc107;
  @text-color: #333;

  .product-card {
    box-shadow: 0 0.25rem 0.5rem @shadow-color;
    border-radius: @border-radius;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    transition: transform 0.2s ease-in-out;

    max-width: 320px;

    &:hover {
      transform: translateY(-0.25rem);
    }
  }

  .product-image {
    width: 100%;
    height: auto;
    border-radius: @border-radius;
    margin-bottom: 0.75rem;
    object-fit: cover; // Ensure image fills container without distortion
    aspect-ratio: 4/3; //Maintain the aspect ratio, even if width and height are not set
  }

  .product-name {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: @text-color;
  }

  .product-description {
    font-size: 0.9rem;
    color: @text-color;
    line-height: 1.4;
    margin-bottom: 0.75rem;
  }

  .product-price-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: @golden-color;
  }

  .golden-buy-button {
    background-color: @golden-color;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: @border-radius;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: darken(@golden-color, 10%);
    }
  }
</style>